*.o
*.swap
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.h
config.h.in
config.log
config.status
configure.scan
depcomp
install-sh
missing
.deps/
lib/.deps/
lib/librivus.a
stamp-h1
example/.deps/
example/client
example/server
example/cond
example/sem
example/rwlock
